In [1]:
# DATA ANALYSIS USING PYTHON

In [2]:
# Python Library Catalogue: http://pypy.org
import pandas as pd
import numpy as np
# BOKEH library info: http://bokeh.pydata.org/en/latest/docs/user_guide.html
import bokeh

In [16]:
from bokeh.charts import Scatter, output_file, show
df = pd.DataFrame(columns=["X", "Y"])
df["X"] = [1,2,3,4,5]
df["Y"] = [5,6,4,5,3]
plot_scatter = Scatter(df,x="X", y="Y", title="Temperature Observations", xlabel="Day of Observations", ylabel="Temperature")

output_file("Scatter_chart.html")

show(plot_scatter)

In [4]:
# Get Statistical summary of your data
df.describe()

              X         Y
count  5.000000  5.000000
mean   3.000000  4.600000
std    1.581139  1.140175
min    1.000000  3.000000
25%    2.000000  4.000000
50%    3.000000  5.000000
75%    4.000000  5.000000
max    5.000000  6.000000

In [5]:
from bokeh.plotting import figure, output_file, show
p = figure(plot_width=500, plot_height=500, title="Playground")
p.circle([1,2,3,4,5],[5,8,3,9,7], size=[i*2 for i in [4,6,12,8,10]], color="purple", alpha=0.5)

output_file("Plotting_chart.html")
show(p)

In [6]:
from bokeh.plotting import figure, output_file, show
f = figure(plot_width=500, plot_height=500)

# Add features to chart on object
f.title.text = "Code Playground"
f.title.text_color="blue"
f.yaxis.minor_tick_line_color ="red"
f.xaxis.axis_label="XBox"
f.yaxis.axis_label="YBox"
f.circle([1,2,3,4,5],[5,8,3,9,7], size=[i*2 for i in [4,6,12,8,10]], color="orange", alpha=0.5)

output_file("Features_Designed.html")
show(f)

In [7]:
# data=pd.read_excel("data/tempress.xlsx",sheetname=0)
df_data = pd.read_csv('data/tempress.csv')
df_data.shape

(33102, 6)

In [8]:
# Get a glimpse of your data- first 7 rows
df_data.head(7)

   Year  Month  Day  Hour  Temperature  Pressure
0  2010     10    6     3          -30      9984
1  2010     10    6     9          -28      9992
2  2010     10    6    10          -24      9987
3  2010     10    6    11          -19      9987
4  2010     10    6    12          -19      9985
5  2010     10    6    13          -20      9982
6  2010     10    6    14          -15      9975

In [17]:
from bokeh.plotting import figure, output_file, show
from bokeh.models import HoverTool, BoxSelectTool
plot_temp_press = figure(plot_width=600, plot_height=500,tools='pan,resize',logo=None, responsive=True)
plot_temp_press.title.text = "Temperature and Pressure"

In [20]:
plot_temp_press.xaxis.axis_label= "Temperature(C)"
plot_temp_press.yaxis.axis_label = "Pressure(hPa)"
hover = HoverTool(tooltips=[("Temp/Pressure", "($x,$y)")])
plot_temp_press.add_tools(hover)

plot_temp_press.circle(df_data["Temperature"],df_data["Pressure"], size=2.5,color="brown")

output_file("weather.html")
show(plot_temp_press)

In [21]:
# Time Series
import pandas as pd
df_stocks = pd.read_csv("http://ichart.yahoo.com/table.csv?s=AAPL&a=0&b=1&c=1996&d=0&e=1&f=2016", parse_dates=["Date"] )
# stock_data = pd.read_csv('data/stocks.csv')

In [22]:
df_stocks.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-31,107.010002,107.029999,104.820000,105.260002,40912300,103.497690
1,2015-12-30,108.580002,108.699997,107.180000,107.320000,25213800,105.523198
2,2015-12-29,106.959999,109.430000,106.860001,108.739998,30931200,106.919422
3,2015-12-28,107.589996,107.690002,106.180000,106.820000,26704200,105.031569
4,2015-12-24,109.000000,109.000000,107.949997,108.029999,13596700,106.221310

In [23]:
from bokeh.plotting import figure, output_file, show
from bokeh.models import HoverTool

stock_plot = figure(plot_width=500, plot_height=250,x_axis_type="datetime",  responsive=True)
hover = HoverTool(tooltips=[("$", "$y")])
stock_plot.add_tools(hover)
stock_plot.xaxis.axis_label = "YEARS"
stock_plot.yaxis.axis_label = "PRICE($)"

In [25]:
stock_plot.line(df_stocks["Date"], df_stocks["Close"], color="#F95959",alpha=1)
output_file("timeseries.html")
show(stock_plot)