In [16]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

In [12]:
start_date = datetime.datetime(2016,1,1)
end_date = datetime.datetime(2016,3,10)
df_stocks = data.DataReader(name="GOOG", data_source="yahoo", start=start_date, end=end_date)

In [13]:
type(df_stocks)

pandas.core.frame.DataFrame

In [23]:
df_stocks.head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2016-01-04,743.000000,744.059998,731.257996,741.840027,3272800,741.840027
2016-01-05,746.450012,752.000000,738.640015,742.580017,1950700,742.580017
2016-01-06,730.000000,747.179993,728.919983,743.619995,1947000,743.619995
2016-01-07,730.309998,738.500000,719.059998,726.390015,2963700,726.390015
2016-01-08,731.450012,733.229980,713.000000,714.469971,2450900,714.469971

In [42]:
date_increase = df_stocks.index[df_stocks.Close > df_stocks.Open]
date_decrease = df_stocks.index[df_stocks.Close < df_stocks.Open]

In [48]:
type(date_increase)

pandas.tseries.index.DatetimeIndex

In [49]:
def inc_dec(c,o):
    if c > o:
        value = "Increase"
    elif c < o:
        value = "Decrease"
    else:
        value = "Equal"
    return value

In [52]:
df_stocks["Status"] = [inc_dec(c,o) for c, o in zip(df_stocks.Close, df_stocks.Open)]

In [54]:
df_stocks.head()

,Open,High,Low,Close,Volume,Adj Close,Status
Date,,,,,,,
2016-01-04,743.000000,744.059998,731.257996,741.840027,3272800,741.840027,Decrease
2016-01-05,746.450012,752.000000,738.640015,742.580017,1950700,742.580017,Decrease
2016-01-06,730.000000,747.179993,728.919983,743.619995,1947000,743.619995,Increase
2016-01-07,730.309998,738.500000,719.059998,726.390015,2963700,726.390015,Decrease
2016-01-08,731.450012,733.229980,713.000000,714.469971,2450900,714.469971,Decrease

In [46]:
plot_stocks = figure(x_axis_type='datetime', width=1000, height=350, responsive=True)
plot_stocks.title.text = "Candlesticks Chart"

hours_12 = 12*60*60*1000

plot_stocks.rect(date_increase,
                 (df_stocks.Open + df_stocks.Close)/2,
                 hours_12,
                 abs(df_stocks.Open - df_stocks.Close),
                 fill_color="green",
                line_color="black")
plot_stocks.rect(date_decrease,
                 (df_stocks.Open + df_stocks.Close)/2,
                 hours_12,
                 abs(df_stocks.Open - df_stocks.Close),
                 fill_color="red",
                line_color="black")

In [47]:

output_file("Stocks_stream.html")
show(plot_stocks)

WARNING:/usr/local/lib/python3.5/site-packages/bokeh/core/validation/check.py:W-1001 (NO_DATA_RENDERERS): Plot has no data renderers: Figure, ViewModel:Plot, ref _id: d8303243-3cb5-4d2f-9ddf-ff1aea6edd66
WARNING:/usr/local/lib/python3.5/site-packages/bokeh/core/validation/check.py:W-1001 (NO_DATA_RENDERERS): Plot has no data renderers: Figure, ViewModel:Plot, ref _id: 85b5ba66-e01c-41e6-a3b1-781bac7edb8c
ERROR:/usr/local/lib/python3.5/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource, ViewModel:ColumnDataSource, ref _id: 88c21192-91b6-414a-9d34-e6fc5cc782fc
ERROR:/usr/local/lib/python3.5/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource, ViewModel:ColumnDataSource, ref _id: 51a169e8-7287-440a-80b2-60aa07fce409
ERROR:/usr/local/lib/python3.5/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource, ViewModel:ColumnDataSource, ref _id: ba301308-7070-44eb-a75b-6e40e6074b06
ERROR:/usr/local/lib/python3.5/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource, ViewModel:ColumnDataSource, ref _id: 3ec8e2cc-545d-482e-813c-346c16660d62
ERROR:/usr/local/lib/python3.5/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource, ViewModel:ColumnDataSource, ref _id: ecc68cc3-3acd-499a-88f5-9bf8f7cd4b88
ERROR:/usr/local/lib/python3.5/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource, ViewModel:ColumnDataSource, ref _id: 797e3232-d618-476b-a27a-b7446647f05f
ERROR:/usr/local/lib/python3.5/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource, ViewModel:ColumnDataSource, ref _id: af0d7e77-fffc-4540-8cf1-dc3bdd91e80f